:root {
  --white: #c0caf5;
  --black: #1a1b26;
  --green: #2ac3de;
  --red: #bb9af7;
  --blue: #7aa2f7;
  --yellow: #ffc777;
  --orange: #ff757f;
  --purple: #bb9af7;
  --dgreen: #c3e88d;
  --dblue: #7dcfff;
}

* {
  font-family: "JetBrains Mono";
  font-size: 17px;
  background: var(--black);
  color: var(--white);
  text-underline-offset: 8px;
  text-decoration-thickness: 2px;
  /*text-shadow: 0px 3px 8px currentColor;*/
}

input {
  font-size: 100%;
  outline: none;
  border: none;
  width: 460px;
}

form {
  display: inline-block;
  margin-bottom: 0px;
  caret-shape: block;
  caret-color: var(--green);
  font-weight: 500;
}

.semibold {
  font-weight: 500;
}

.rd {
  color: var(--red);
}

.grn {
  color: var(--green);
}

.ylw {
  color: var(--yellow);
}

.blu {
  color: var(--blue);
}

.inline {
  display: inline;
  font-weight: 500;
  color: var(--green);
}

.output {
  white-space: pre-wrap;
  word-wrap: break-word;
  margin-bottom: 22px;
}

.about,
.ascii,
.text {
  flex-direction: row;
  box-sizing: border-box;
  float: left;
}

/* About */

.about {
  flex: 0 0 calc(60%);
  outline: 3.5px solid var(--green);
  outline-offset: 25px;
}

/* Github fetch */

.ascii {
  flex: 0 0 calc(50% - 15px);
  margin: 20px;
}

/* Repos fetch */

.text {
  flex: 0 0 calc(50% - 35px);
  margin: 30px;
  max-width: 30%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
  align-items: baseline;
}

/* Color blocks */

.blocks {
  font-size: 35px;
}

#orientation-warning {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  top: 0;
  left: 0;
  font-size: 1.2rem;
  text-align: center;
  padding-top: 30vh;
}
